.chatWindow {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.composeBox {
    flex-shrink: 0;

    display: flex;

    background-color: var(--color-light-gray);

    padding: 0.5em;
    gap: 0.5em;
}

.composeBox * {
    box-sizing: border-box;
}

.composeBox input {
    flex-grow: 1;
}