.composeButton {
    font-size: 3rem;

    position: absolute;
    bottom: 1em;
    right: 1em;

    width: 2em;
    height: 2em;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-dark);

    background-color: var(--color-light-gray);
    border-radius: 50%;
}